<div class="js-sticky">
  <div class="fh5co-main-nav">
    <div class="container">
      <div class="fh5co-menu-1">

	<a href="#" data-nav-section="home">{{ with .Site.Params.nav }}{{ if isset . "logo" }}<img src={{ .logo | absURL }} height="20" alt="">{{ end }}{{ if (not (isset . "logo")) }}Home{{ end }}{{ end }}</a>

	{{ if .Site.Params.idea.enable }}
	<a href="#" data-nav-section="idea">{{ with .Site.Params.nav.idea }}{{ . | markdownify }}{{ end }}</a>
	{{ end }}

	{{ if .Site.Params.features.enable }}
	<a href="#" data-nav-section="features">{{ with .Site.Params.nav.features }}{{ . | markdownify }}{{ end }}</a>
	{{ end }}

	{{ if .Site.Params.download.enable }}
	<a href="#" data-nav-section="download">{{ with .Site.Params.nav.download }}{{ . | markdownify }}{{ end }}</a>
	{{ end }}

	{{ if .Site.Params.team.enable }}
	<a href="#" data-nav-section="team">{{ with .Site.Params.nav.team }}{{ . | markdownify }}{{ end }}</a>
	{{ end }}

	{{ if .Site.Params.contact.enable }}
	<a href="#" data-nav-section="contact">{{ with .Site.Params.nav.contact }}{{ . | markdownify }}{{ end }}</a>
	{{ end }}
	
      </div>
    </div>
  </div>
</div>
